/********************************************************************************************* 

CSS3 Elements Seperated to Maintain Validation

*********************************************************************************************/
#video-top {
-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
-webkit-border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
}

.menu, #video-bottom {
-moz-border-radius-bottomleft: 6px;
-moz-border-radius-bottomright: 6px;
-webkit-border-bottom-left-radius: 6px;
-webkit-border-bottom-right-radius: 6px;
}

#channels h3, #channels h4 {
text-shadow: 1px 1px 2px #000000;
}

input#s, input#search-submit, .previous-post a, .next-post a, ol.commentlist li div.reply {
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}

.menu li ul, #breadcrumbs, #pagination, a.continue-reading, #channels-wrapper, .post-image, .widget, #comments-meta, .avatar, #comment, #author, #email, #url, .cancel-comment-reply a, input#submit, #leave-reply, .wp-caption {
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
}